# next.js build output
.next
# dotenv environment variables file (build for Zeit Now)
.env
.env.build
# .pem files
ptestaffing.local+5.pem
ptestaffing.local+5-key.pem
rootCA.key
token.json
# Dependency directories
node_modules/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
